exportPattern("^[[:alpha:]]+")
import(limma)
import(purrr)
import(sva)
import(oligo)
import(affycoretools)
import(pd.hugene.2.0.st)
import(gplots)
import(RColorBrewer)
import(org.Hs.eg.db)
import(GSEABase)
import(ggplot2)
import(biomaRt)
import(parallel)
import(reshape)
import(topGO)
import(clusterProfiler)
importFrom("stats", "median", "reorder", "sd")
importFrom("stats", "mad")
importFrom("utils", "write.table")
